.App {
  text-align: center;
}

body {
  background-color: #ffebee;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  min-height: 8vh;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  text-decoration: none;
}

.nav-links li {
  padding: 10px;
}

.nav-links li:hover {
  border-radius: 5px;
  color: rgb(255, 255, 255);
}

.Register {
  width: 50%;
  margin: 0 auto;
  justify-content: center;
}

.formRegister {
  width: 50%;
  margin: 10px auto;
  padding: 10px;
  background-color: #ef9a9a;
  box-shadow: inset 0 0 10px rgb(255, 255, 255), 0 5px 20px rgba(255, 255, 255, 255), inset 0 0 15px rgba(255, 255, 255, 255);
}

.formRegister h2 {
  font-weight: bold;
  font-size: 25px;
}

.mediaSection {
  padding-top: 1%;
}